<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form class="form" action="/new" method="POST">
            <input class="input" type="text" id="username" name="username" placeholder="Enter your username">
            <input class="input" type="text" id="photo" name="photo" placeholder="Enter photo link">
            <input class="input" type="text" id="title" name="title" placeholder="Enter title">
            <button type="submit">Create Post</button>
    </form>
</body>
</html>
